body {
    font-family: Arial, sans-serif;
    background-image: url('/img/gradient.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

form {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 50px auto;
    font-size: 18px;
}

h1, p {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group, .checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.radio-group label, .checkbox-group label {
    margin-right: 10px;
}

.button-container {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}
